assignments/drone-aape/agent/NOTES.txt
assignments/drone-aape/agent/__pycache__
assignments/drone-aape/agent/myenv
assignments/drone-aape/uab-agents-simulator.app
.DS_Store
exam1_notes.docx
AAgent_Python/__pycache__
AAgent_Python/uab-agents-simulator.app
AAgent_Python/agent/NOTES.txt